<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/site.css">
</head>


<body>

    <nav>

        <div class="logo">
            <h4>GAME</h4>
        </div>
        
        <ul class="navlinks">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/cart" hidden>Cart</a></li>
            <li><a href="/profile" hidden>Settings</a></li>
            
        </ul>

    </nav>


    {{{body}}}


    <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/public/js/script.js"></script>

</body>

</html>
