<div class="addition">

<h1>Game Addition Portal</h1>

<p class="req">Please provide the following details to add a game to the store:</p>

<form>

    <div>
        <label>
           <input type="text" class="add-info" placeholder="Game Title">
        </label>
    </div>


    <div>
        <label>
            <p class="add-info"> Images: <span><input type="file"  placeholder="Images" accept="image/*"></span></p>
        </label>
    </div>


    <div>
        
        <label>
            <input type="text" class="add-info" placeholder="List genre/s">
        </label>

        <label>
            <input type="text" class="add-info" placeholder="Size of the game in MB/GB">
        </label>

        <label>
            <input type="text" class="add-info" placeholder="List of devices supported by the game">
        </label>

        <label>
            <input type="text" class="add-info" placeholder="List of languages supported by the game">
        </label>

        <label>
            <input type="text" class="add-info" placeholder="Recommended age group">
        </label>

        <label>
            <input type="text" class="add-info" placeholder="Website URL">
        </label>

    </div>

    <button class="addbtn">Add</button>

</form>

</div>


