<div class="admin-control">
<h1> Admin Controls </h1>
<div>

    <p class="cc"><a href="/admin/add_game">ADD A NEW GAME</a></p>

    <p class="cc"><a href="/admin/delete_game">DELETE AN EXISTING GAME</a></p>

    <p class="cc"><a href="/admin/delete_review">DELETE A REVIEW </a></p>

</div>

</div>