<p>get all games and their reviews</p>
<br>
<h2>GAME NAME</h2><br>
review 1<button class="dbtn">Delete</button><br>
review 2<button class="dbtn">Delete</button><br>
review 3<button class="dbtn">Delete</button><br>

<h2>GAME NAME</h2>
review 1<button class="dbtn">Delete</button><br>
review 2<button class="dbtn">Delete</button><br>
review 3<button class="dbtn">Delete</button><br>